<%- include('./header', {url:url,ogp_image_url:ogp_image_url,app_id:app_id}) %>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '<%= app_id %>',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <nav class="navbar navbar-default navbar-shrink" />
    <div class="container">
      <a class="navbar-brand page-scroll" href="/">遺書一筆</a></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="bgimage">
          <div class="container">
            <div class="lined-paper">
              <%- body %>
            </div>
            <p>
              <a href="/#/edit/<%= isyoHash %>"><button class="btn btn-primary" >編集する</button></a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" title="Facebook" class="btn btn-facebook" id="shareBtn"><i class="fa fa-facebook fa-fw"></i>書いたことを残す</a>
              <script>
              document.getElementById('shareBtn').onclick = function() {
                FB.ui({
                  method:  'share',
                  display: 'popup',
                  hashtag: "#遺書一筆",
                  href: '<%= url %>'
                }, function(response){});
              }
              </script>
            </p>
            <p>※書いた内容は本人しか見れません。</br>
              ※今後のversion upで、課金した人にだけ公開する機能を作成予定です。
            </p>
          </div>
        </div>
      </div>
  <%if (newflg=="new") { %>
      <!-- Modal -->
<div class="modal fade" id="registerd">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">保存されました！</h5>
      </div>
      <div class="modal-body">
        <p>何か感じましたか？その想いを大切にしてください！<br />
          もしもの時のことを考えて、あなたの遺書のURLをシェアもできます。<br />(書いた内容は公開されません。)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#registerd').modal("show");
</script>
<% } %>
    </body>
</html>
